* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecfccb;
  font-family: "sono", sans-serif;
  padding: 25px 30px;
}

.header {
  margin-bottom: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.btn-header {
  display: flex;
  text-align: right;
  list-style: none;
  margin-right: 16px;
  font-family: inherit;
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 10px 0 13px;
  background-color: #14b8a6;
  /* background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308); */
  color: inherit;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-box {
  display: flex;
  margin: 20px;
  margin-right: 25px;
  margin-bottom: 20px;
  font-family: inherit;
  border-radius: 100px;
  gap: 16px;
}

.btn-login {
  text-align: right;
  font-size: 25px;
  background-color: #14b8a6;
  border-radius: 100px;
  font-family: inherit;
  padding-left: 10px;
  padding-right: 10px;
  /* border: none; */
}

.btn-signup {
  text-align: right;
  font-size: 25px;
  background-color: #14b8a6;
  border-radius: 100px;
  font-family: inherit;
  padding-left: 10px;
  padding-right: 10px;
  /* border: none; */
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.fact-form {
  background-color: #9ca3af;
  margin-bottom: 40px;
  padding: 16px 32px;
  padding-right: 10px;

  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input {
  width: 220px;
  border: none;
  background-color: #fafaf9;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
  text-align: center;
}

.btn-large {
  padding-left: 16px;
  padding-right: 10px;
}

.sign-up {
  margin-bottom: 40px;
  padding: 16px 32px;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  display: flex;
  font-size: 18px;
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }
  .fact-form input {
    width: auto;
  }
}

h1 {
  font-size: 30px;
}

.job {
  width: 600px;
  padding: 10px;
  border-radius: 100px;
  padding: 16px;
  display: flex;
  font-family: "Coiny", sans-serif;

  background-color: #9ca3af;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 500px;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.hidden {
  display: none !important;
}
